# Ignore class files
*.class

# IDEA
.idea
*.iml

# SETTINGS
.settings
.project
.classpath
.metadata

#TEST
se491project/test-output/*

#SERVERS
Servers/*

#GAE
appengine-web.xml

#OTHER
se491project/war/WEB-INF/appengine-generated/*
se491project/war/WEB-INF/classes/*
*~
target
