.basictab {
	padding: 3px 0;
	margin-left: 0;
	font: 12px Verdana, sans-serif;
	border-bottom: 1px solid #778;
	list-style-type: none;
	margin-bottom: 0;
	text-align: left;
}

.basictab li {
	display: inline;
	margin: 0;
	list-style: none;
}

.basictab li a {
	text-decoration: none;
	padding: 3px 0.5em;
	margin-left: 3px;
	border: 1px solid #667;
	border-bottom: none;
	background: #AAE;
	color: #000;
}

.basictab li a:visited {
	color: #000;
}

.basictab li a:hover {
	color: #B88A00;
}

.basictab li a:active {
	color: #667;
}

.basictab li.selected a { 
	position: relative;
	top: 1px;
	padding-top: 4px;
	background: #DDE;
	border-bottom: 1px solid #DDE;
}

.basictab li.notselected a {

}

.submenustyle {
	padding: 3px 0;
	border: 1px solid black;
	font: 12px Verdana, sans-serif;
	border-top-width: 0;
	width: auto;
	display: none;
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	background: #DDE;
}

* html .submenustyle { 
	width: 100%;
}

.submenustyle a {
	border-right: 1px dashed black;
	padding: 1px 5px;
	text-decoration: none;
	color: #667;
}

.submenustyle a:hover {
	color: #B88A00;
}